html {
    font-family: 'Codec Pro', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    transition: color $animation_time ease, background-color $animation_time ease;
}

img,
svg {
    display: block;
    max-width: 100%;
}

a {
    user-select: none;
}

input[type="file"] {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.light-mode {
    background-color: $white;
}

.dark-mode {
    background-color: $dark-blue;
}
