.container {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin: 0 auto;
    padding: 48px 64px;
    min-height: 100vh;

    @media (max-width: $mobile) {
        padding: 20px 0;
    }
}
