/* colors */
$black: #012345;
$white: #FCFCFC;
$grey: #677B8F;
$grey-lighten-1: #99A7B5;
$grey-lighten-2: #F3F4F7;
$pink: #F84AB3;
$blue: #4959FF;

/* breakpoints */
$mobile: 1439px;

/* animation */
$animation_time: 0.3s;
